*{
    font-family: sans-serif;
    
   


}
tr:hover{
    background-color: #B0DAFF;
    color: black;
}
th{
    color: white;
}
body{
    min-height: 100vh;
    background: url(i\ \(2\).webp) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-div td{

border: 0px;
}