*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: url(i\ \(2\).webp) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 52vw;
    height: 68vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}
.table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 1rem 1rem;
    text-align: center;
}
.table_body {
    width: 95%;
    max-height: calc(89%- .8rem);
    text-align: center;
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: hidden;
}
table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #6867670b;
}
tbody tr:hover{
    background-color: #fff6;
}
.status {
    padding: .4rem 0;
    border-radius: 2rem;   
}
.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}
.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}
.status.on.the.way {
    background-color: #93a8d8;
    color: #001bb3;
}
.status.processing {
    background-color: #d7d893;
    color: #a4b300;
}
.status.shipped {
    background-color: #d8b493;
    color: #b34e00;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    main.table {
        width: 90vw;
        height: auto;
    }
    .table_header {
        height: auto;
    }
    .table_body {
        max-height: calc(68vh - 3rem); /* Adjust height for scrollbar */
        overflow-x: auto; /* Add horizontal scrollbar */
        overflow-y: auto; /* Add vertical scrollbar */
        -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS devices */
    }
}

/* For tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    main.table {
        width: 80vw;
        height: auto;
    }
}